scale = scale(0.8,0.8)

body
  color #333
  background #f4f4f4 //url('/img/bg.png')

.player:not(.player-deck)
  padding 30px 0 0 20px
  border-color #ccc
  transform scale
  position fixed
  height 150px
  width 400px

  .name
    font-size 24px
    position absolute
    top -5px
    left 15px

  &.active
    // box-shadow 0 0 20px #777
    border-bottom 4px solid green

  &.position1
    top 25%
    left 5%
  &.position2
    left 35%
  &.position3
    right 5%
    top 25%
    .hand
      right 0
      margin-right -10%

  .hand
    position absolute
    width 500px
    margin-left -10%

.playing-card-list
  list-style-type none
  margin 0
  padding 0
  clear both

  .playing-card
    margin 0 -40px 0 0
    float left
    transition all .2s

  &.discard-pile
    position fixed
    right 52%
    top 45%
    transform scale

    .playing-card
      position absolute
      cursor default
      right 1em
      margin 0 -10px 0 0
      &:not(:first-child)
        margin 5px 0 0 -120px

  &.hand
    .playing-card:not(.closed):hover
      z-index 10
      transform translate(0, -12px) rotate(4deg) scale(1.1,1.1)

.player-deck
  position fixed
  bottom 0
  width 100%
  min-height 70px
  background #eee url('/img/me_bg.png')
  border-top 3px solid black
  z-index 25

  .name
    position absolute
    bottom 30px
    right 40px
    font-size 50px
    color white
    text-shadow 2px 2px 0 black

  &.active
    box-shadow 0 0 10px #777

  .playing-card-list
    position absolute
    bottom 0
    left 2em
    .playing-card
      margin 0 -20px 1em 0
      transform rotate(-2deg)

.playing-card
  position relative
  display block
  width 70px
  height 70px
  padding 20px 10px
  text-align center
  border-radius 3px
  border 5px solid white
  box-shadow -2px 2px 3px #333
  box-sizing content-box
  color white
  font-size 22px
  text-shadow 1px 1px 0 #999
  cursor pointer
  z-index 9

  &.closed
    background-color black

  &.main-deck
    position fixed
    right 45%
    top 45%
    transform scale
